@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron img-responsive">
    <h1 class="fadak" style="color:darkmagenta; font-weight:bolder; text-shadow:0 5px 8px deeppink;">Fadak Gym</h1>
        
</div>
    
<div class="row between">
    <div class="col-md-4 boxes">
        <h2 class="text-primary" style="color:darksalmon;">Special Events</h2>
        <img src="~/gymImages/special.jpg" class="col-md-5 img-responsive corner" />
        <p class="setting">
            Mind to muscle connection...
        </p>
    </div>
    <div class="col-md-4 boxes">
        <h2 class="text-primary"  style="color:darksalmon;" >Change your size</h2>
        <img src="~/gymImages/meter.jpg" class="col-md-5 img-responsive corner" />
        <p class="setting">
         See your size changes only in weeks.
        </p>

    </div>
    <div class="col-md-4 boxes">
        <h2 class="text-primary"  style="color:darksalmon;">Get your snacks</h2>
        <img src="~/gymImages/snacks.jpg" class="col-md-5 img-responsive corner" />
        <p class="setting"> Snacks are available in every way and form.</p>
    </div>
</div>
<div class="img-responsive scdiv">
    <div>
        <h2 class="weekly">Weekly Schedule</h2>
    </div>
    <div class="listdays">
        <ul>
            <li> Monday:Full Body Hit</li>
            <li> Tuesday: Leg Crusher </li>
            
            <li> Thursday: Yoga ABS</li>
            <li> Friday: Glute Sculpt</li>
        </ul>
    </div>
</div>
<div class="row rules">
    <h2 class="text-center" style="border-bottom:3px solid purple">Must Know,Must Have</h2>
    <div class="col-md-6">
        <img src="~/gymImages/corner.jpg" class="img-responsive col-md-6 corner" />
    </div>
    <div class="col-md-6">

        <ul class="liststyle">
            <li>No phones allowed.</li>
            <li>No mirror selfies.</li>
            <li>Must have towel and senetizer.</li>
            <li>Must be here on time to finish sharp on time.</li>
            <li>Only TECNO music.</li>
        </ul>
        <p class="label-danger dangerlabel"> These rules must be applied, since we care about your safety and privacy.</p>
    </div>

</div>